<ion-header>
  <ion-navbar color="navbar">
    <ion-title>
      Unifynd Crypto
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openSettings()"><ion-icon name="cog"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card height="10px" color="black" class="div-odd">
    <ion-slides>
      <ion-slide *ngFor="let option of YourCoins">
        <div *ngFor="let anotherOption of YourCoins">
          <div *ngIf="option.type !== anotherOption.type">
              <h6 class="small-heading"> {{option.type}}/{{anotherOption.type}}</h6>
              <ion-row>
                <ion-col width-40>
                  <ion-item>
                    <ion-label class="SmallFont">Currency</ion-label>
                    <ion-select (ionChange)="valuesSelected($event)">
                      <ion-option *ngFor="let option of CurrencyOptions">{{option}}</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                <ion-col width-40>
                  <ion-item>
                    <ion-select (ionChange)="valuesSelected($event)">
                      <ion-option>Bye</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
   
  </ion-card>
  <div>
  <ion-card>
    <table>
      <tr>
        <td [attr.rowspan]="YourCoins.length+1">
          You Have :
        </td>
      </tr>
      <tr *ngFor="let coin of YourCoins">
        <td>
          <li margin-left padding-left>
            {{coin.number}} {{coin.type}}
          </li>
        </td>
      </tr>
    </table>
  </ion-card>

  </div>

</ion-content>