<ion-header>
  <ion-navbar color="navbar">
    <ion-title>
      Unifynd Crypto
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openSettings($event)">
        <ion-icon name="cog"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card height="10px" color="black" class="div-odd" padding-bottom padding-top>
    <ion-slides>
      <ion-slide *ngFor="let option of YourCoins">
        <ion-row>
          <ion-col>
              <h6 class="small-heading"> USD/{{option.type}}</h6>
              <h5 class="data"> {{CryptData[option.type].price}}</h5>
          </ion-col>|
          <ion-col>
            <h6 class="small-heading"> Volume {{option.type}} </h6>
            <h5 class="data"> {{CryptData[option.type].volume}}</h5>
          </ion-col>|
          <ion-col>
            <ion-row>
            <ion-col >
                <h4 *ngIf="CryptData[option.type].perChange >= 0" style="color:green"> +{{CryptData[option.type].perChange}} </h4> 
                <h3 *ngIf="CryptData[option.type].perChange < 0" style="color:red"> {{CryptData[option.type].perChange}} </h3>
            </ion-col>
            <ion-col >
                <ion-icon style="color:green" *ngIf="CryptData[option.type].perChange >= 0" name ="arrow-round-up"></ion-icon> 
                <ion-icon style="color:red" *ngIf="CryptData[option.type].perChange < 0" name ="arrow-round-down"></ion-icon>
            </ion-col>
          </ion-row>
            </ion-col>
        </ion-row>
      </ion-slide>
    </ion-slides>
  </ion-card>

    <ion-card border="Solid" class="div-even" padding-bottom padding-top>
      <table>
        <tr>
          <td [attr.rowspan]="YourCoins.length +1">
            You Have :
          </td>
        </tr>
        <tr *ngFor="let coin of YourCoins">
          <td>
            <li margin-left padding-left>
              {{coin.number}} {{coin.type}}
            </li>
          </td>
        </tr>
      </table>
    </ion-card>

</ion-content>