page-home {

    .small-heading{
        font-size:1.8vh;
    }
    .div-odd{
        background-color:222;
    }
    .div-even{
        background-color:333;
    }
    .SmallFont{
        font-size:1.8vh;
    }

}
